.mat-toolbar{
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
    padding:0 20px/*I have added this prpperty sinc Signup was not displayed neatly*/
}

mat-form-field{
    padding: 5px;

}
mat-hint{
    color:red;
}
.my-mat-icon-button{
left: 420px;
}
